apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app: notification-service
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      protocol: TCP
      port: 8004
      targetPort: 8004
  sessionAffinity: None
