apiVersion: v1
kind: Service
metadata:
  name: product-service
  labels:
    app: product-service
spec:
  type: ClusterIP
  selector:
    app: product-service
  ports:
    - name: http
      protocol: TCP
      port: 8002
      targetPort: 8002
  sessionAffinity: None
