{{- if .Values.postgres.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels:
    app: postgres
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: postgres
        version: v1
    spec:
      containers:
      - name: postgres
        image: {{ .Values.postgres.image }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        ports:
        - name: postgres
          containerPort: 5432
          protocol: TCP

        envFrom:
          - configMapRef:
              name: postgres-config

        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_USER
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_PASSWORD
          - name: PGDATA
            value: /var/lib/postgresql/data

        volumeMounts:
          - name: postgres-storage
            mountPath: /var/lib/postgresql
          - name: init-script
            mountPath: /docker-entrypoint-initdb.d

        resources:
{{ toYaml .Values.postgres.resources | indent 10 }}

      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: init-script
          configMap:
            name: postgres-init-script
{{- end }}
