{{- if .Values.userService.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: user-service
  labels:
    app: user-service
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.userService.port }}
      targetPort: {{ .Values.userService.port }}
  sessionAffinity: None
{{- end }}
