{{- if .Values.monitoring.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}-apps
  labels:
    release: {{ .Release.Name }}
spec:
  selector:
    matchLabels:
      # Select all services that have the 'monitor: "true"' label
      monitor: "true"
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
{{- end }}
